.calc-button {
  background-color: var(--white-transparent);
  border-bottom: transparent;
  border-left: transparent;
  border-radius: 10px;
  border-right: transparent;
  border-top: 1px solid white;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-family: digits;
  font-size: 1.5rem;
  margin: 5px;
  outline: none;
  padding: 10px;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.calc-button:hover,
.calc-button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.calc-button:hover {
  transform: translate3d(1px, 1px, 1px);
}

@keyframes wobble {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.top.default {
  background-color: var(--top-button-bg);
  color: var(--top-button-color);
}

.top.blue {
  background-color: rgb(22, 52, 70);
  color: rgb(167, 203, 224);
}

.top.default:hover,
.top.default:focus {
  background-color: var(--top-button-bg-focus);
}

.button-C.default,
.button-DEL.default {
  background-color: var(--del-button-bg);
  color: var(--del-button-color);
}

.button-C.blue,
.button-DEL.blue {
  background-color: rgb(204, 219, 228);
  color: rgb(34, 77, 102);
}

.button-C.default,
.button-C.blue {
  grid-column: span 2;
}

.button-C.default:hover,
.button-C.default:focus,
.button-DEL.default:hover,
.button-DEL.default:focus {
  background-color: var(--del-button-focus);
}

.button-C.blue:hover,
.button-C.blue:focus,
.button-DEL.blue:hover,
.button-DEL.blue:focus {
  background-color: rgb(220, 229, 235);
}

.rounded.default {
  background-color: var(--digit-button-bg);
  border-radius: 30px;
  color: var(--digit-button-color);
  font-size: 2rem;
  font-weight: bold;
}

.button-C::after,
.button-DEL::after,
.top::after,
.L::after,
.bottom::after {
  background: radial-gradient(
    at top left,
    rgba(128, 128, 128, 0.301),
    rgba(255, 255, 255, 0.247)
  );
  border-radius: 6px;
  content: "";
  height: calc(100% - 10px);
  left: 5px;
  position: absolute;
  top: 5px;
  width: calc(100% - 10px);
}

.rounded.default::after,
.rounded.blue::after {
  background: radial-gradient(
    at top left,
    rgba(128, 128, 128, 0.301),
    rgba(255, 255, 255, 0.247)
  );
  border-radius: 30px;
  content: "";
  height: calc(100% - 12px);
  left: 6px;
  position: absolute;
  top: 6px;
  width: calc(100% - 12px);
}

.rounded.default:hover,
.rounded.default:focus {
  background-color: var(--digit-button-focus);
}

.rounded.blue {
  background-color: rgb(70, 133, 170);
  border-radius: 30px;
  color: rgb(207, 226, 236);
  font-size: 2rem;
  font-weight: bold;
}

.rounded.blue:hover,
.rounded.blue:focus {
  background-color: rgb(54, 109, 141);
}

.L.default {
  background-color: var(--operand-button-bg);
  color: var(--operand-button-color);
}

.L.blue {
  color: rgb(35, 76, 100);
}

.L.default:hover,
.L.default:focus {
  background-color: var(--operand-button-focus);
}

.bottom.default {
  background-color: var(--bottom-button-bg);
  color: var(--bottom-button-color);
}

.bottom.blue {
  background-color: rgb(204, 219, 228);
  color: rgb(34, 77, 102);
}

.bottom.default:hover,
.bottom.default:focus {
  background-color: var(--bottom-button-focus);
}
