.overlay {
  animation: overlay-fade 0.15s ease-in forwards;
  background: rgba(0, 0, 0, 0.774);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@keyframes overlay-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.post-it {
  animation: wobble 0.25s ease-in-out forwards;
  background: radial-gradient(
    at top left,
    rgb(212, 207, 193),
    rgb(196, 183, 143)
  );
  border-bottom-right-radius: 60px 5px;
  box-shadow: 0px 2px 9px -2px rgb(78, 78, 78);
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  left: 50%;
  margin: 25px;
  max-height: 400px;
  max-width: 400px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-2deg);
  width: 100%;
  z-index: 2;
}

ul {
  list-style: none;
}

li.calc-record {
  margin-bottom: 3px;
}

.bullet {
  color: rgb(141, 141, 141);
  height: 30px;
  margin-bottom: -7px;
  margin-right: 5px;
  width: 30px;
}

.post-it-content {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.post-it-content::-webkit-scrollbar {
  visibility: hidden;
}

span.date {
  color: grey;
  font-family: digits;
}

span.calculations {
  font-family: digits;
  font-size: 1.3rem;
}

@keyframes wobble {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(2deg) scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-2deg) scale(1, 1);
  }
}

.close-button {
  align-items: center;
  background: rgb(182, 71, 52);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 3px 6px -3px rgb(63, 48, 30);
  color: white;
  cursor: pointer;
  display: flex;
  height: 30px;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}

.erase-history-button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid rgb(182, 71, 52);
  bottom: 10px;
  color: rgb(182, 71, 52);
  cursor: pointer;
  left: 10px;
  outline: none;
  padding: 5px 10px;
  position: absolute;
  transition: background-color 0.2s ease-in-out;
}

.erase-history-button:hover {
  background: rgba(255, 99, 71, 0.164);
}

.empty-calc {
  font-family: digits;
  color: rgb(34, 34, 34);
}

@media screen and (max-width: 600px) {
  .post-it {
    font-size: 0.79em;
    left: 45%;
    max-height: 300px;
    max-width: 300px;
    top: 45%;
  }
}
