*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: digits;
  src: url(./assets//fonts/RussoOne-Regular.ttf);
}

:root {
  --bottom-button-bg: rgba(161, 101, 131, 0.664);
  --bottom-button-color: rgba(36, 8, 22, 0.664);
  --bottom-button-focus: rgba(161, 101, 131, 0.815);
  --box-shadow: 3px 5px 10px -5px rgb(255, 255, 255), -2px -2px 6px grey;
  --del-button-bg: rgba(255, 166, 0, 0.322);
  --del-button-color: rgb(75, 75, 26);
  --del-button-focus: rgba(255, 166, 0, 0.432);
  --digit-button-bg: rgba(255, 99, 71, 0.705);
  --digit-button-color: rgb(114, 40, 27);
  --digit-button-focus: rgba(255, 99, 71, 0.781);
  --operand-button-bg: rgba(165, 202, 143, 0.774);
  --operand-button-color: rgb(3, 27, 3);
  --operand-button-focus: rgb(165, 202, 143);
  --top-button-bg-focus: rgb(51, 83, 80);
  --top-button-bg: rgba(51, 83, 80, 0.664);
  --top-button-color: turquoise;
  --white-transparent: rgba(255, 255, 255, 0.75);
  --previous-operand: rgba(36, 93, 116, 0.637);
  --current-operand: rgb(36, 93, 116);
}

.digit {
  font-family: digits;
}

body {
  align-items: center;
  background: rgb(1, 1, 20);
  /* background-image: linear-gradient(315deg, #c6dfc7 0%, #9f96b6 74%); */
  background-image: url(./assets//images/bg.png);
  display: flex;
  justify-content: center;
  margin: 0;
}

.calculator-grid {
  background: radial-gradient(at bottom left, white, rgb(224, 218, 200));
  /* background-image: url(./assets/images/calc-bg.png); */
  border-radius: 10px;
  box-shadow: 5px 10px 20px -10px rgba(46, 29, 59, 0.452),
    -5px -5px 10px rgba(255, 255, 255, 0.452);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  padding: 2em;
  position: relative;
  width: 100%;
}

.span-two {
  grid-column: span 2;
}

.output {
  background: rgba(175, 210, 221, 0.329);
  box-shadow: 0px 5px 10px -5px inset grey,
    -2px -2px 6px rgba(255, 255, 255, 0.459);
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: digits;
  grid-column: 1 / -1;
  justify-content: space-around;
  margin: 5px;
  padding: 0.75rem;
  word-break: break-all;
  word-wrap: break-word;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

  /* grid-template-columns: repeat(2, 1fr); */
}

@media (max-width: 600px) {
  .main-wrapper {
    flex-direction: column;
    height: 100%;
  }
  .calculator-grid {
    zoom: 80%;
    margin-top: 50px;
  }
}
